---
layout: default
---
<section class="description">
  <div class="description-wrapper">
    <div class="description-row">
      {% include description.html %}
    </div>
  </div>
</section>

<section class="filters" data-open="false">
  <div class="filters-wrapper">
    {% include filters.html %}
  </div>
</section>

<section class="organizations">
  <div class="organizations-wrapper">
    {% for organization in site.data.organizations %}
      {% include organization.html %}
    {% endfor %}
  </div>
</section>
