<div class="cause vcard">

  <div class="visual">
    {% if cause.photo %}
      <img class="photo" src="/img/causes/{{cause.photo}}" alt="{{cause.name}}" />
    {% endif %}

    <ul class="links">
      {% if cause.website %}
        <li>
          <a class="url" href="{{cause.website}}" title="Visit the {{cause.name}} website">
            <span class="description">Website</span>
            <i class="icon icon-website"></i>
          </a>
        </li>
      {% endif %}

      {% if cause.twitter %}
        <li>
          <a href="https://twitter.com/{{cause.twitter}}" rel="nofollow" title="Follow {{cause.namel}} on Twitter">
            <span class="description">Twitter</span>
            <i class="icon icon-twitter"></i>
          </a>
        </li>
      {% endif %}

      {% if cause.facebook %}
        <li>
          <a href="https://facebook.com/{{cause.facebook}}" rel="nofollow" title="Follow {{cause.name}} on Facebook">
            <span class="description">Facebook</span>
            <i class="icon icon-facebook"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="details">
    <h2 class="fn org">{{cause.name}}</h2>

    <p class="note">{{cause.description}}</p>

    <div class="details">
      {% if cause.email %}
        <div>
          <input readonly value="{{cause.email}}" class="email-element copy" data-select-on-click />
          <a class="email email-element send" href="mailto:{{cause.email}}" title="Send an Email in Your Email Client">
            <i class="icon icon-mail"></i>
          </a>
        </div>
      {% endif %}

      {% if cause.phone %}
        {% capture str_phone %}{{cause.phone}}{%endcapture%}
        <div>
          <a class="tel" href="tel:+1{{str_phone | slice: 0, 10}}">
            ({{str_phone | slice: 0, 3}})
            {{str_phone | slice: 3, 3}}-{{str_phone | slice: 6, 4}}
            {% if str_phone.size > 10 %}
              x{{str_phone | slice: 10, str_phone.size}}
            {% endif %}
            <i class="icon icon-phone"></i>
          </a>
        </div>
      {% endif %}

      {% if cause.address.street_address %}
        <div class="address">
          <div class="adr">
            {% if cause.address.description %}
              <div class="description">{{cause.address.description}}</div>
            {% endif %}
            <span class="line">
              <span class="street-address">{{cause.address.street_address}}</span>
            </span>
            <span class="line">
              <span class="locality">{{cause.address.city}}</span>,
              <span class="region">{{cause.address.state}}</span>
              <span class="postal-code">{{cause.address.postal_code}}</span>
            </span>

          </div>
          {% unless cause.address.street_address contains "P.O. Box" %}
            <div class="directions">
              {% capture str_address %}{{cause.address.street_address}} {{cause.address.city}}, {{cause.address.state}} {{cause.address.postal_code}}{%endcapture%}
              <a href="https://maps.google.com/?q={{ str_address + url_encode}}" rel="nofollow" title="Get directions to {{cause.name}}">
                <i class="icon icon-map"></i>
              </a>
            </div>
          {% endunless %}
        </div>
      {% endif %}

      {% if false %}
        <i class="icon icon-donate"></i>
      {% endif %}

      {% if false %}
        <i class="icon icon-volunteer"></i>
      {% endif %}
    </div>
  </div>
</div>
