<p>In the aftermath of the 2016 election, many people have a renewed interest
  in social justice, inclusion, and equality in our community. It has been said
  that now is the time to find an organization to get involved in, and if you
  can't find one - start one! It turns out we have many organizations right here
  in our community doing good work.</p>

<p>Holland Loves is designed to be a resource for our community. Please use this
  site to get in touch with organizations with whom to serve, advocate for, and
  support financially.</p>
