<div class="filter-groups">
  <div class="filter-options">
    Filter by Issues:
    <ul>
      {% for cause in site.data.causes %}
        <li><a href="#" data-filter-name="cause" data-filter-value="{{cause.value}}">{{cause.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="sort-directions">
    Sort:
    <ul>
      {% for order in site.data.orders %}
        <li><a href="#" data-filter-name="order" data-filter-value="{{order.value}}">{{order.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="filter-controls">
    <a href="#" class="close-filters" data-trigger-filter-close>
      <i class="icon icon-close"></i>
    </a>
  </div>
</div>

<div class="filter-trigger">
  <a href="#" data-trigger-filter-open>Filter Organizations</a>
</div>
