
body {
  background-color: $color-light-gray;
}

.icon {
  font-size: 1.3em;
}

section.header {
  @include outer-container;

  // BETA
  .ribbon-wrapper {
    $ribbon-background: $action-color;
    $ribbon-size: 120px;

    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    left: -25px;
    top: -1px;

    .ribbon {
      background-color: $ribbon-background;
      box-shadow: 0 0 3px rgba(#000, 0.3);
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      left: -5px;
      line-height: 1.5em;
      padding: 2px 7px;
      position: relative;
      text-align: center;
      top: 15px;
      transform: rotate(-45deg);
      width: 120px;

      a {
        color: #fff;
      }
    }
  }
  // END BETA

  header {
    color: $color-red;
    text-align: center;
    @include pad;
    padding-bottom: 0;
    @include clearfix;

    .logo {
      width: 2em;
    }
    h1 {
      margin-bottom: 0;
    }
    @include media($large-screen) {
      .logo {
        width: 6em;
      }
      h1 {
        font-size: 300%;
      }
    }

    .tagline {
      font-weight: bold;
      color: $color-blue;
      margin-bottom: 0;
      text-transform: capitalize;
    }

    .links {
      display: none;
      @include media($large-screen) {
        display: block;
        float: right;
        .icon {
          font-size: 2em;
        }
      }
    }
  }
}

section.description {
  .description-wrapper {
    @include outer-container;

    .description-row {
      @include span-columns(12);
      @include pad;
      p {
        color: $medium-gray;
      }
    }
  }
}

.filters-wrapper {
  @include outer-container;
  @include pad(default default 0 default);
  select {
    margin-bottom: 0;
    font-size: 1em;
    display: inline;
    @include media($large-screen) {
      font-size: 1.1em;
    }
  }
  .filter-group {
    @include shift(2);
    @include span-columns(10);
    text-align: right;
  }
}

.causes {
  background-color: #fff;
  .causes-wrapper {
    @include outer-container;
  }
}

section.footer {
  .footer-wrapper {
    @include outer-container;

    footer {
      @include span-columns(12);
      @include pad;
      text-align: center;

      .logo {
        width: 2em;
        margin-bottom: $gutter;
      }

      .links {
      }

      hr {
        border: 1px solid lighten($color-medium-gray, 25%);
        margin: 2em auto;
        width: 12em;
      }

      .copyright {
        color: $color-medium-gray;
        a {
          color: $color-medium-gray;
        }
      }
    }
  }
}

.causes {
  .causes-wrapper {
    @include pad;
  }
}

.cause {
  @include clearfix;
  margin-bottom: 3em;

  overflow: hidden;

  .org {
  }
  .visual {
    @include span-columns(2);
    text-align: right;

    .description {
      display: none;
      @include media($large-screen) {
        display: inline;
      }
    }
    @include media($large-screen) {
      .icon {
        font-size: 1em;
      }
    }

    .photo {
      $dimensions: 8em;

      max-height: 100%;
      max-width: 100%;

      @include media($large-screen) {
        max-height: $dimensions;
        max-width: $dimensions;
      }
    }
  }

  .details {
    @include span-columns(10);

    .email-element {
      &.copy {
        display: none;
        @include media($large-screen) {
          display: inline;
        }
        background-color: lighten($light-gray, 10%);
        margin-right: .5em;
        width: auto;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &.click {
        @include media($large-screen) {
          display: none;
        }
      }
      .icon {
        font-size: 1em;
      }
      @include media($large-screen) {
        .icon {
          font-size: 1.3em;
        }
      }

    }

    .tel {
      .icon {
        font-size: 1em;
      }
    }

    .address {
      margin-top: .5em;
      .line {
        display: block;
      }
      .adr,
      .directions {
        display: inline-block;
        vertical-align: top;
        margin-right: 1ex;
      }
      .icon-map {
        font-size: 1.1em;
      }
    }
  }
}
