
body {
  background-color: $color-light-gray;
}

.icon {
  font-size: 1.3em;
}

section.header {
  @include outer-container;

  header {
    color: $color-red;
    text-align: center;
    @include pad;
    padding-bottom: 0;
    @include clearfix;

    .logo {
      width: 2em;
    }
    h1 {
      margin-bottom: 0;
    }
    @include media($large-screen) {
      .logo {
        width: 6em;
      }
      h1 {
        font-size: 300%;
      }
    }

    .tagline {
      font-weight: bold;
      color: $color-blue;
      margin-bottom: 0;
      text-transform: capitalize;
    }

    .links {
      display: none;
      @include media($large-screen) {
        display: block;
        float: right;
        .icon {
          font-size: 2em;
        }
      }
    }
  }
}

section.description {
  .description-wrapper {
    @include outer-container;

    .description-row {
      @include span-columns(12);
      @include pad;
      p {
        color: $medium-gray;
      }
    }
  }
}

section.filters {
  background-color: $color-orange;
  a {
    color: $base-background-color;
  }

  .filters-wrapper {
    @include outer-container;
    form {
      display: none;
    }
    .filter-options {
      @include span-columns(5.5);
      @include pad;
    }
    .sort-directions {
      @include span-columns(5.5);
      @include pad;
      text-align: right;
    }
    .filter-controls {
      @include span-columns(1);
      @include omega;
      position: relative;

      .close-filters {
        position: absolute;
        top: $gutter;
        right: 6px;
      }
    }
  }

  .filter-trigger {
    @include pad(default default 0 default);
    text-align: right;
  }

  transition: background-color 0.3s ease;

  &[data-open=false] {
    background-color: $base-background-color;
    a {
      color: $action-color;
    }
    .filter-groups {
      display: none;
    }
  }
  &[data-open=true] {
    .filter-groups {
      display: block;
    }
    .filter-trigger {
      display: none;
    }
  }
}

.causes {
  background-color: $base-background-color;
  .causes-wrapper {
    @include outer-container;
  }
}

section.footer {
  .footer-wrapper {
    @include outer-container;

    footer {
      @include span-columns(12);
      @include pad;
      text-align: center;

      .logo {
        width: 2em;
        margin-bottom: $gutter;
      }

      .links {
      }

      hr {
        border: 1px solid lighten($color-medium-gray, 25%);
        margin: 2em auto;
        width: 12em;
      }

      .copyright {
        color: $color-medium-gray;
        a {
          color: $color-medium-gray;
        }
      }
    }
  }
}

.causes {
  .causes-wrapper {
    @include pad;
  }
}

.cause {
  @include clearfix;
  margin-bottom: 3em;

  overflow: hidden;

  .org {
  }
  .visual {
    @include span-columns(2);
    text-align: right;

    .description {
      display: none;
      @include media($large-screen) {
        display: inline;
      }
    }
    @include media($large-screen) {
      .icon {
        font-size: 1em;
      }
    }

    .photo {
      $dimensions: 8em;

      max-height: 100%;
      max-width: 100%;

      @include media($large-screen) {
        max-height: $dimensions;
        max-width: $dimensions;
      }
    }
  }

  .details {
    @include span-columns(10);

    .email-element {
      &.copy {
        display: none;
        @include media($large-screen) {
          display: inline;
        }
        background-color: lighten($light-gray, 10%);
        margin-right: .5em;
        width: auto;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &.click {
        @include media($large-screen) {
          display: none;
        }
      }
      .icon {
        font-size: 1em;
      }
      @include media($large-screen) {
        .icon {
          font-size: 1.3em;
        }
      }

    }

    .tel {
      .icon {
        font-size: 1em;
      }
    }

    .address {
      margin-top: .5em;
      .line {
        display: block;
      }
      .adr,
      .directions {
        display: inline-block;
        vertical-align: top;
        margin-right: 1ex;
      }
      .icon-map {
        font-size: 1.1em;
      }
    }
  }
}
