// Colors
$color-blue: #5bc0eb;
$color-yellow: #fde74c;
$color-green: #9bc53d;
$color-red: #e55934;
$color-orange: #fa7921;
$color-dark-gray: #333;
$color-medium-gray: #999;
$color-light-gray: #e5e5e5;
