
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-map:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-website:before { content: '\f14c'; } /* '' */
.icon-volunteer:before { content: '\f256'; } /* '' */